# Analyzis of the benchmark

Usually, the analyzis of a benchmark has multiple aspects, which are best split into multiple notebooks.
In this case, the analyzis is very simple, so we only have a single one and also no plots.
We could create separate notebooks for solution quality and runtime.

In [1]:
import pandas as pd

results = pd.read_json("./06_simplified_results.json.zip")
results

      instance                  strategy  interchange  colors   runtime
0      graph_0             largest_first          1.0       6  0.000978
1      graph_0             largest_first          0.0       7  0.000126
2      graph_0         random_sequential          1.0       7  0.001322
3      graph_0         random_sequential          0.0       8  0.000111
4      graph_0             smallest_last          1.0       6  0.001489
...        ...                       ...          ...     ...       ...
1195  graph_99  connected_sequential_bfs          1.0      15  0.002864
1196  graph_99  connected_sequential_bfs          0.0      17  0.000527
1197  graph_99  connected_sequential_dfs          1.0      14  0.002348
1198  graph_99  connected_sequential_dfs          0.0      15  0.000537
1199  graph_99  saturation_largest_first          NaN      15  0.001361

[1200 rows x 5 columns]

In [2]:
# get the best solutions to get the relative quality
best_coloring = results.groupby("instance")[["colors"]].min()
best_coloring

          colors
instance
graph_0        6
graph_1       16
graph_10       9
graph_11      37
graph_12      12
...          ...
graph_95       8
graph_96      15
graph_97      11
graph_98      29
graph_99      14

[100 rows x 1 columns]

In [3]:
# compute how many % above the best solution the corresponding solutions are
t = pd.merge(left=results, right=best_coloring, on="instance", suffixes=("", "_best"))
t["above_best (%)"] = (t["colors"] / t["colors_best"] - 1) * 100

In [4]:
# show the means for each algorithm
t.groupby(["strategy", "interchange"], dropna=False)[
    ["above_best (%)", "runtime"]
].mean()

                                      above_best (%)   runtime
strategy                 interchange
connected_sequential_bfs 0.0               24.478087  0.003458
                         1.0                7.455329  0.041909
connected_sequential_dfs 0.0               24.246745  0.003659
                         1.0                6.892559  0.042725
independent_set          NaN               16.093692  0.052341
largest_first            0.0               15.373235  0.000471
                         1.0                2.456423  0.036649
random_sequential        0.0               24.414715  0.000465
                         1.0                7.137265  0.039422
saturation_largest_first NaN                4.923175  0.032969
smallest_last            0.0               16.385456  0.007263
                         1.0                2.262052  0.041887

It seems like the strategy `smallest_last` with the option `interchange=True` creates on average the best solutions for the benchmark instances.